# These set various options for nginx. more to come.
user: deploy
group: deploy

pid_path: /var/run
log_path: /var/log/nginx

workers: 6

# This defines the default roots and alternate roots.
# The name (or key) of your site will be sprintf'd with
# the below root, right.
root: 
  rails: /var/apps/%s/current/public
  default: /var/www/%s/current/web

# All your vhosts.
sites: 
  placeholders:
    host: example.com example.org another-example.com example.net yet-another-example.com
  
  static_site:
    host: static.com static.net static.org
    # other values:
    #   'all': redirects all hosts after the first to the first host
    #   'none': create no redirects for any hostname
    #   'www': redirect any domain not starting with 'www' to www.domain.etc
    #   any other value or no value: redirect 'www' hostnames to the non-'www' version
    alias: all
    prevent_hotlinking: images
    301s:
      '^/old_url.*': '/new_url'
      '/old_categories/(.*)': '/$1'
      '^/info/.*': 'info'
      '^/info.html': 'info'
  
  rails_site:
    host: proxy.com proxied.com
    # two upstream servers to proxy to
    # you can do single upstream servers with "upstream: 127.0.0.1:8000"
    upstream:
      - 127.0.0.1:8000
      - 127.0.0.1:8001
    alias: all
    root: rails
  
  # other options:
  #   auth_file: /path/to/an/htpasswd

# You may also specify https hosts
ssl_sites:
  secure_rails_site:
    # ssl configuration
    ssl:
      key: /path/to/ssl.key
      cert: /path/to/ssl.crt	
    # SSL only allows one vhost per IP this can be solved if you have multiple IPs.
    listen: 10.10.10.1:443
    # This proxies to our same upstream servers as the 'rails_site' entry above.
    upstream:
      - 127.0.0.1:8000
      - 127.0.0.1:8001
    alias: all
    host: proxy.com
    root: rails

